<a href="https://colab.research.google.com/github/Kunalsingh5j/Data-Analysis/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
na_vals = ['NA', 'Missing']
df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv')
df.tail(10)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
83429,83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,Other (please specify):;Student,NaN,NaN,NaN,NaN,HTML/CSS;PHP;PowerShell;Python;SQL;VBA,C#;Go;HTML/CSS;Java;JavaScript;PHP;Python;SQL;VBA,MongoDB;MySQL;PostgreSQL,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,Heroku,AWS;Heroku;IBM Cloud or Watson;Microsoft Azure...,Django;Flask;jQuery,Angular.js;ASP.NET;ASP.NET Core ;Django;FastAP...,NumPy;Pandas,.NET Framework;.NET Core / .NET 5;NumPy;Pandas,Git,Docker;Git;Xamarin,Atom;Notepad++;Sublime Text;Visual Studio Code,Atom;Notepad++;Sublime Text;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per month or weekly,Not sure/can't remember,NaN,"Yes, somewhat",No,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83430,83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,21,"Developer, front-end;Developer, full-stack;Dev...",10 to 19 employees,USD\tUnited States dollar,125000.0,Yearly,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript,APL;Clojure;Haskell;LISP;R,MongoDB;MySQL;PostgreSQL;Redis,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform;Heroku,AWS;DigitalOcean;Google Cloud Platform,Django;React.js;Ruby on Rails,NaN,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Unity 3D,Emacs;Vim,Emacs,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83431,83432,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Pakistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",9,4,"Developer, mobile;Developer, desktop or enterp...",2 to 9 employees,PKR\tPakistani rupee,150000.0,Monthly,C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...,C#;Dart;HTML/CSS;JavaScript;Kotlin;Node.js;Pyt...,Firebase;MySQL;SQLite,DynamoDB;Firebase;MongoDB;MySQL;SQLite,Google Cloud Platform,AWS;Google Cloud Platform,Flask;jQuery,Angular;Django;Flask;jQuery;Laravel,Flutter,Flutter;Hadoop;NumPy;TensorFlow;Torch/PyTorch,Git,Docker;Git,Android Studio;IntelliJ;IPython/Jupyter;Notepa...,Android Studio;IntelliJ;IPython/Jupyter;PyChar...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,11676.0
83432,83433,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,5,Less than 1 year,"Developer, back-end","10,000 or more employees",CAD\tCanadian dollar,106000.0,Yearly,Ruby,Java;Ruby;TypeScript,MySQL;PostgreSQL,NaN,Google Cloud Platform;Heroku,NaN,Flask;React.js;Ruby on Rails;Vue.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,Docker;Git;Kubernetes;Yarn,NaN,Atom;IPython/Jupyter;Vim;Visual Studio Code,NaN,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,No,NaN,"No, not really",No,18-24 years old,Woman,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,80169.0
83433,83434,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Brazil,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Online Forum;Online Courses or Certification;O...,15,11,"Developer, mobile;Developer, front-end;Develop...","1,000 to 4,999 employees",BRL\tBrazilian real,80000.0,Yearly,Java;JavaScript;Kotlin;Objective-C;TypeScript,Kotlin,Firebase;MongoDB;MySQL;SQLite,NaN,NaN,NaN,React.js,NaN,React Native,Flutter,Docker;Git;Yarn,Docker;Git,Android Studio;Visual Studio Code;Xcode,Android Studio;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,I have an anxiety disorder,Appropriate in length,Easy,18326.0
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [ ]:
df.shape

(83439, 48)

In [ ]:
pd.set_option('display.max_columns', 48)
pd.set_option('display.max_rows', 85)

In [ ]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [ ]:
df['ConvertedCompYearly']

0         62268.0
1             NaN
2             NaN
3             NaN
4             NaN
           ...
83434    160500.0
83435      3960.0
83436     90000.0
83437    816816.0
83438     21168.0
Name: ConvertedCompYearly, Length: 83439, dtype: float64

In [ ]:
df.loc[0:2, 'Currency':'LanguageWantToWorkWith']

,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith
0,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift
1,NaN,NaN,NaN,JavaScript;Python,NaN
2,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust

In [ ]:
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
6,QID7,US_State,<p>In which state or territory of the USA do y...,False,MC,DL
7,QID9,UK_Country,In which part of the United Kingdom do you liv...,False,MC,DL
8,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
9,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
10,QID149,Age1stCode,At what age did you write your first line of c...,False,MC,MAVR
11,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,SB
17,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
18,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
19,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
20,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
21,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
22,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
23,QID264,Webframe,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
24,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
25,QID275,ToolsTech,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
26,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
27,QID71,OpSys,What is the primary operating system in which ...,False,MC,SAVR
28,QID243,NEWStuck,What do you do when you get stuck on a problem...,False,MC,MAVR
29,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
30,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
31,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
32,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
33,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
34,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
35,QID267,NEWOtherComms,Are you a member of any other online developer...,False,MC,MAVR
36,QID268,NEWOtherCommsNames,Please name up to 5 other online developer com...,False,Matrix,Likert
37,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID127,Age,What is your age?,False,MC,MAVR
39,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
40,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
41,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
42,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
43,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
44,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
45,QID131,S6,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
46,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
47,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR

In [ ]:
schema_df.loc[27, 'question']

'What is the primary operating system in which you work? *'

In [ ]:
schema_df.sort_index(ascending= False, inplace=True)
schema_df

,qid,qname,question,force_resp,type,selector
47,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR
46,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
45,QID131,S6,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
44,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
43,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
42,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
41,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
40,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
39,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
38,QID127,Age,What is your age?,False,MC,MAVR
37,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
36,QID268,NEWOtherCommsNames,Please name up to 5 other online developer com...,False,Matrix,Likert
35,QID267,NEWOtherComms,Are you a member of any other online developer...,False,MC,MAVR
34,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
33,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
32,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
31,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
30,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
29,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
28,QID243,NEWStuck,What do you do when you get stuck on a problem...,False,MC,MAVR
27,QID71,OpSys,What is the primary operating system in which ...,False,MC,SAVR
26,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
25,QID275,ToolsTech,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
24,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
23,QID264,Webframe,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
22,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
21,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
20,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
19,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
18,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
17,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
16,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,SB
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
11,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
10,QID149,Age1stCode,At what age did you write your first line of c...,False,MC,MAVR
9,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
8,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
7,QID9,UK_Country,In which part of the United Kingdom do you liv...,False,MC,DL
6,QID7,US_State,<p>In which state or territory of the USA do y...,False,MC,DL
5,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB

In [ ]:
filt = df['LanguageHaveWorkedWith'].str.contains('Python', na=False)
filt

0        False
1         True
2         True
3        False
4         True
         ...
83434    False
83435    False
83436     True
83437     True
83438    False
Name: LanguageHaveWorkedWith, Length: 83439, dtype: bool

In [ ]:
df.loc[filt]

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
5,6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...,C#;C++;Go;HTML/CSS;Java;JavaScript;Node.js;Obj...,MySQL;PostgreSQL;SQLite,Elasticsearch;Firebase;IBM DB2;MariaDB;Microso...,NaN,NaN,Express;Flask;jQuery;React.js,Express;Flask;jQuery;React.js,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;Qt;React Native;TensorFlow;...,Git,Docker;Git;Unity 3D;Unreal Engine,IPython/Jupyter;Notepad++;PyCharm;Sublime Text...,Android Studio;IPython/Jupyter;Vim;Visual Stud...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,4,Data scientist or machine learning specialist,10 to 19 employees,SEK\tSwedish krona,42000.0,Monthly,C++;Python,Haskell;Python,PostgreSQL,NaN,NaN,NaN,NaN,NaN,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;TensorFlow;Torch/PyTorch,Git,Git,IPython/Jupyter;Vim;Visual Studio Code,Emacs;IPython/Jupyter;Vim;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83429,83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,Other (please specify):;Student,NaN,NaN,NaN,NaN,HTML/CSS;PHP;PowerShell;Python;SQL;VBA,C#;Go;HTML/CSS;Java;JavaScript;PHP;Python;SQL;VBA,MongoDB;MySQL;PostgreSQL,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,Heroku,AWS;Heroku;IBM Cloud or Watson;Microsoft Azure...,Django;Flask;jQuery,Angular.js;ASP.NET;ASP.NET Core ;Django;FastAP...,NumPy;Pandas,.NET Framework;.NET Core / .NET 5;NumPy;Pandas,Git,Docker;Git;Xamarin,Atom;Notepad++;Sublime Text;Visual Studio Code,Atom;Notepad++;Sublime Text;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per month or weekly,Not sure/can't remember,NaN,"Yes, somewhat",No,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83430,83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,21,"Developer, front-end;Developer, full-stack;Dev...",10 to 19 employees,USD\tUnited States dollar,125000.0,Yearly,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript,APL;Clojure;Haskell;LISP;R,MongoDB;MySQL;PostgreSQL;Redis,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform;Heroku,AWS;DigitalOcean;Google Cloud Platform,Django;React.js;Ruby on Rails,NaN,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Unity 3D,Emacs;Vim,Emacs,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83431,83432,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Pakistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",9,4,"Developer, mobile;Developer, desktop or enterp...",2 to 9 employees,PKR\tPakistani rupee,150000.0,Monthly,C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...,C#;Dart;HTML/CSS;JavaScript;Kotlin;Node.js;Pyt...,Firebase;MySQL;SQLite,DynamoDB;Firebase;MongoDB;MySQL;SQLite,Google Cloud Platform,AWS;Google Cloud Platform,Flask;jQuery,Angular;Django;Flask;jQuery;Laravel,Flutter,Flutter;Hadoop;NumPy;TensorFlow;Torch/PyTorch,Git,Docker;Git,Android Studio;IntelliJ;IPython/Jupyter;Notepa...,Android Studio;IntelliJ;IPython/Jupyter;PyChar...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,11676.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0

In [ ]:
df.rename(columns={'ConvertedCompYearly': 'SalaryUSD'}, inplace=True)
df['SalaryUSD']

0         62268.0
1             NaN
2             NaN
3             NaN
4             NaN
           ...
83434    160500.0
83435      3960.0
83436     90000.0
83437    816816.0
83438     21168.0
Name: SalaryUSD, Length: 83439, dtype: float64

In [ ]:
df['NEWOtherComms']

0         No
1         No
2        Yes
3         No
4         No
        ...
83434     No
83435     No
83436     No
83437     No
83438     No
Name: NEWOtherComms, Length: 83439, dtype: object

In [ ]:
df['NEWOtherComms'].map({'Yes': True, 'No': False})

0        False
1        False
2         True
3        False
4        False
         ...
83434    False
83435    False
83436    False
83437    False
83438    False
Name: NEWOtherComms, Length: 83439, dtype: object

In [ ]:
df['NEWOtherComms'] = df['NEWOtherComms'].map({'Yes': True, 'No': False})
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,SalaryUSD
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",False,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",False,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",True,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,False,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",False,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",False,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",False,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",False,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",False,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",False,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [ ]:
df.sort_values(by=['Country', 'SalaryUSD'], ascending=[True, False], inplace=True)
df[['Country', 'SalaryUSD']].head(50)

           Country   SalaryUSD
65399  Afghanistan  30468516.0
22666  Afghanistan    155496.0
27198  Afghanistan     51804.0
31086  Afghanistan     23964.0
44640  Afghanistan     15132.0
11377  Afghanistan      9792.0
17486  Afghanistan      5448.0
51428  Afghanistan      4668.0
14882  Afghanistan      4200.0
17120  Afghanistan      3108.0
55150  Afghanistan       100.0
2069   Afghanistan         NaN
4544   Afghanistan         NaN
5100   Afghanistan         NaN
9564   Afghanistan         NaN
10945  Afghanistan         NaN
11131  Afghanistan         NaN
11461  Afghanistan         NaN
20301  Afghanistan         NaN
23456  Afghanistan         NaN
24552  Afghanistan         NaN
26034  Afghanistan         NaN
26955  Afghanistan         NaN
28378  Afghanistan         NaN
30552  Afghanistan         NaN
31504  Afghanistan         NaN
31596  Afghanistan         NaN
31890  Afghanistan         NaN
34427  Afghanistan         NaN
37431  Afghanistan         NaN
37549  Afghanistan         NaN
37765  Afghanistan         NaN
38693  Afghanistan         NaN
39471  Afghanistan         NaN
40223  Afghanistan         NaN
40402  Afghanistan         NaN
41840  Afghanistan         NaN
46339  Afghanistan         NaN
51791  Afghanistan         NaN
53203  Afghanistan         NaN
55624  Afghanistan         NaN
59268  Afghanistan         NaN
61674  Afghanistan         NaN
62112  Afghanistan         NaN
62690  Afghanistan         NaN
62786  Afghanistan         NaN
62832  Afghanistan         NaN
62970  Afghanistan         NaN
65205  Afghanistan         NaN
67130  Afghanistan         NaN

In [ ]:
df['SalaryUSD'].nlargest(10)

66910    45241312.0
65399    30468516.0
40586    21822250.0
28791    20000000.0
12700    19200000.0
9608     17500000.0
5305     15000000.0
12903    14411628.0
66488    12750000.0
7205     12500000.0
Name: SalaryUSD, dtype: float64

In [ ]:
df.nsmallest(10, 'SalaryUSD')

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,SalaryUSD
1924,1925,I am a developer by profession,Employed full-time,United States of America,Pennsylvania,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Other (please specify):,30,25,"Developer, mobile;Developer, front-end;Develop...","1,000 to 4,999 employees",USD\tUnited States dollar,1.0,Yearly,C#;HTML/CSS;JavaScript;PowerShell;SQL,C#;HTML/CSS;JavaScript;PowerShell;SQL,Microsoft SQL Server,Microsoft SQL Server,AWS;Microsoft Azure,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core ;jQuery,Angular;Angular.js;ASP.NET;ASP.NET Core ;jQuery,.NET Framework;.NET Core / .NET 5,.NET Framework;.NET Core / .NET 5,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,A few times per week,"Yes, definitely",False,45-54 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Too long,Neither easy nor difficult,1.0
24285,24286,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,California,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Books / Physical media,16,9,Other (please specify):;Data scientist or mach...,2 to 9 employees,USD\tUnited States dollar,1.0,Yearly,Python;SQL,Python,PostgreSQL;Redis,PostgreSQL;Redis,AWS,AWS,Django;Flask,Django;Flask,NumPy;Pandas;TensorFlow,NumPy;Pandas;TensorFlow,Docker;Git;Terraform,Docker;Git;Terraform,IPython/Jupyter;PyCharm,IPython/Jupyter;PyCharm,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,A few times per week,Yes,A few times per week,"Yes, somewhat",True,35-44 years old,Man,No,Prefer to self-describe:,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,1.0
46464,46465,"I am not primarily a developer, but I write co...",Employed full-time,United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,27,12,"Engineer, data;Data scientist or machine learn...",10 to 19 employees,USD\tUnited States dollar,1.0,Yearly,Perl;Python,JavaScript;Node.js;Python,SQLite,NaN,Google Cloud Platform,NaN,Flask,Flask,Flutter,NaN,Git,Git,Android Studio;IntelliJ;PyCharm;Sublime Text,PyCharm;Sublime Text,MacOS,Go for a walk or other physical activity;Do ot...,Stack Overflow,Less than once per month or monthly,No,NaN,"No, not at all",False,35-44 years old,Man,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Too long,Easy,1.0
15163,15164,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,Younger than 5 years,Books / Physical media,5,1,Academic researcher,2 to 9 employees,CNY\tChinese Yuan Renminbi,11.0,Yearly,Objective-C,NaN,MySQL,NaN,Microsoft Azure,NaN,Vue.js,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MacOS,Google it,Stack Overflow for Teams (private knowledge sh...,Less than once per month or monthly,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",True,35-44 years old,Woman,Yes,Bisexual,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,Easy,2.0
56790,56791,I am a developer by profession,Employed full-time,Taiwan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,12,2,"Developer, full-stack;Database administrator;S...",100 to 499 employees,TWD\tNew Taiwan dollar,50.0,Yearly,HTML/CSS;JavaScript;Node.js;Python;SQL,NaN,MySQL;PostgreSQL;SQLite,NaN,NaN,NaN,Django;jQuery,NaN,NaN,NaN,Docker;Git,NaN,PyCharm,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"No, not really",False,25-34 years old,Woman,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,2.0
22032,22033,I am a developer by profession,Employed full-time,Republic of Korea,NaN,NaN,"Associate degree (A.A., A.S., etc.)",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,5,Less than 1 year,"Developer, front-end",20 to 99 employees,KRW\tSouth Korean won,3800.0,Yearly,JavaScript;TypeScript,JavaScript;TypeScript,MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;Google Cloud Platform,AWS;Google Cloud Platform,React.js,React.js;Svelte;Vue.js,Hadoop;React Native,Flutter;Hadoop;React Native,Docker;Git;Kubernetes;Yarn,Deno;Docker;Git;Kubernetes;Yarn,Visual Studio Code;Webstorm,Visual Studio Code;Webstorm,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",False,25-34 years old,Man,No,NaN,East Asian,None of the above,I have an anxiety disorder,Appropriate in length,Easy,3.0
59043,59044,I am a developer by profession,Employed full-time,Taiwan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",20,NaN,"Developer, front-end",100 to 499 employees,TWD\tNew Taiwan dollar,90.0,Yearly,HTML/CSS;JavaScript;Node.js;PowerShell;TypeScript,HTML/CSS;JavaScript;Node.js;TypeScript,Elasticsearch;Firebase;MongoDB;MySQL;Redis,Firebase,DigitalOcean;Microsoft Azure,NaN,Angular;Express,Angular,NaN,NaN,Ansible;Docker;Git,Docker;Git,IntelliJ;Notepad++;Vim;Visual Studio Code;Webs...,IntelliJ;Notepad++;Vim;Visual Studio Code;Webs...,MacOS,Go for a walk or other physical activity;Googl...,Stack Overflow,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",False,25-34 years old,Man,No,Prefer not to say,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,3.0
22453,22454,I am a developer by profession,Employed full-time,Japan,NaN,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,"Other online resources (ex: videos, blogs, etc)",Less than 1 year,6,"Developer, full-stack",20 to 99 employees,JPY\tJapanese yen,450.0,Yearly,C#;HTML/CSS;SQL;TypeScript,C#;HTML/CSS;SQL;TypeScript,Oracle,Oracle,AWS;Microsoft Azure,AWS;Microsoft Azure,Angular;ASP.NET Core,Angular;ASP.NET Core,.NET Core / .NET 5,.NET Core / .NET 5,NaN,NaN,Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Call a coworker or friend;Meditate,Stack Overflow,A few times per month or weekly,Not sure/can't remember,NaN,"No, not at all",False,35-44 years old,Man,No,NaN,East Asian,None of the above,NaN,Appropriate in length,Easy,4.0
45141,45142,"I am not primarily a developer, but I write co...",Employed full-time,China,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,1,Scientist,"1,000 to 4,999 employees",CNY\tChinese Yuan Renminbi,35.0,Yearly,C++;Java;Python;R;Scala;SQL,C++;Python,NaN,NaN,NaN,NaN,NaN,NaN,Hadoop;NumPy;Pandas;Torch/PyTorch,NumPy;Pandas;Torch/PyTorch,Git,Git,IntelliJ;PyCharm;RStudio;Visual Studio;Visual ...,Visual Studio Code,Windows,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, somewhat",True,18-24 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,I have a mood or emotional disorder (e.g. depr...,Too long,Easy,5.0
53306,53307,I am a developer by profession,Employed full-time,Japan,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",25,17,"Developer, mobile;Data scientist or machine le...","10,000 or more employees",JPY\tJapanese yen,600.0,Yearly,Bash/Shell;HTML/CSS;Java;JavaScript;Kotlin;Nod...,Bash/Shell;C#;HTML/CSS;Java;Kotlin;Python;SQL;...,Firebase;MySQL;PostgreSQL;SQLite,MariaDB;PostgreSQL;SQLite,AWS,AWS,Angular;Express;Flask;Laravel;Spring;Vue.js,Angular;ASP.NET Core ;FastAPI;Laravel,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,.NET Core / .NET 5;NumPy;Pandas;Torch/PyTorch,Docker;Git,Git;Unity 3D;Unreal Engine,Android Studio;IntelliJ;IPython/Jupyter;PHPSto...,Android Studio;IntelliJ;PHPStorm;PyCharm;Vim;V...,Linux-based,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Daily or almost daily,No,NaN,Neutral,False,35-44 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,5.0

In [ ]:
df['SalaryUSD'].median()

56211.0

In [ ]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

ResponseId       41720.0
CompTotal        67000.0
NEWOtherComms        0.0
SalaryUSD        56211.0
dtype: float64

In [ ]:
df.describe()

         ResponseId     CompTotal     SalaryUSD
count  83439.000000  4.718300e+04  4.684400e+04
mean   41720.000000  2.119407e+69  1.184262e+05
std    24086.908893  4.603702e+71  5.272944e+05
min        1.000000  0.000000e+00  1.000000e+00
25%    20860.500000  1.600000e+04  2.702500e+04
50%    41720.000000  6.700000e+04  5.621100e+04
75%    62579.500000  1.400000e+05  1.000000e+05
max    83439.000000  1.000000e+74  4.524131e+07

In [ ]:
df['SalaryUSD'].count()

46844

In [ ]:
df['NEWOtherComms'].value_counts()

False    53364
True     29464
Name: NEWOtherComms, dtype: int64

In [ ]:
df['Country'].value_counts()

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Liechtenstein                                               1
Papua New Guinea                                            1
Dominica                                                    1
Saint Kitts and Nevis                                       1
Saint Vincent and the Grenadines                            1
Name: Country, Length: 181, dtype: int64

In [ ]:
country_grp = df.groupby(['Country'])
country_grp.get_group('India')

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,SalaryUSD
28791,28792,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",35 - 44 years,Coding Bootcamp;Other online resources (ex: vi...,11,9,"Developer, desktop or enterprise applications;...",100 to 499 employees,USD\tUnited States dollar,20000000.0,Yearly,C#;C++;Groovy;HTML/CSS;Java;JavaScript;Node.js...,Ruby;Swift,Microsoft SQL Server;MySQL;Oracle;PostgreSQL;S...,MongoDB,AWS;DigitalOcean;Heroku,IBM Cloud or Watson;Microsoft Azure,Angular.js;Drupal;Laravel;Ruby on Rails;Symfony,Angular;ASP.NET,Apache Spark;Cordova;Hadoop,.NET Framework,Git,Chef;Docker;Kubernetes;Puppet,Android Studio;Atom;Eclipse;IPython/Jupyter;Ne...,Visual Studio Code,MacOS,Visit Stack Overflow;Google it;Visit another d...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per month or weekly,Yes,A few times per month or weekly,Neutral,True,35-44 years old,Man,No,Prefer not to say,Prefer not to say,Prefer not to say,None of the above,Appropriate in length,Easy,20000000.0
12700,12701,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,Online Forum,5,5,"Developer, full-stack",100 to 499 employees,USD\tUnited States dollar,1600000.0,Monthly,JavaScript,JavaScript,MongoDB;MySQL;PostgreSQL,MongoDB;MySQL;PostgreSQL,AWS;Heroku,AWS;Heroku,React.js,React.js,NaN,NaN,Git,Git,Eclipse;Visual Studio Code,Eclipse;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Visit another d...,Stack Exchange,A few times per week,Yes,A few times per week,Neutral,True,35-44 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,19200000.0
64387,64388,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",10,5,Data scientist or machine learning specialist,10 to 19 employees,INR\tIndian rupee,7240000.0,Monthly,C,Go,PostgreSQL;SQLite,Elasticsearch,Google Cloud Platform,NaN,Django;jQuery;Spring,NaN,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,Docker,NaN,PyCharm,NaN,Linux-based,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, definitely",True,25-34 years old,Man,No,NaN,East Asian,None of the above,None of the above,Appropriate in length,Easy,1212996.0
12793,12794,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,18,11,"Developer, back-end;Engineering manager",100 to 499 employees,INR\tIndian rupee,7200000.0,Monthly,Objective-C;Python;Swift,Python,MongoDB;MySQL;Redis,MongoDB;MySQL;Redis,Google Cloud Platform;Microsoft Azure,Google Cloud Platform,NaN,NaN,NaN,NaN,Docker;Git;Pulumi,Docker;Git;Pulumi,PyCharm;Sublime Text;Visual Studio Code;Xcode,PyCharm;Sublime Text,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",True,25-34 years old,Man,No,Straight / Heterosexual,NaN,None of the above,None of the above,Too long,Easy,1206288.0
3640,3641,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Other (please specify):,16,16,"Engineer, data;Developer, back-end","5,000 to 9,999 employees",INR\tIndian rupee,7000000.0,Monthly,Java;Python;Scala,C;C++;Java;Python;Rust;Scala,Cassandra;DynamoDB;Elasticsearch;MariaDB;Micro...,NaN,AWS;Google Cloud Platform;Heroku;IBM Cloud or ...,NaN,Angular.js;Express;React.js,NaN,Apache Spark;Hadoop;Keras;NumPy;TensorFlow;Tor...,NaN,Docker;Git;Kubernetes,NaN,Eclipse;IntelliJ;IPython/Jupyter;PyCharm;Visua...,NaN,MacOS,Visit Stack Overflow;Google it,Stack Overflow;Stack Exchange;Stack Overflow f...,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",True,35-44 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,1172784.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83386,83387,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,NaN,4,2,"Developer, full-stack",10 to 19 employees,INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript;Node.js,HTML/CSS;JavaScript;Node.js,DynamoDB;MongoDB,DynamoDB;MongoDB,AWS;Heroku,AWS,React.js,Gatsby;React.js;Vue.js,React Native,React Native,Git,Git,Android Studio;Visual Studio Code;Xcode,Android Studio;Visual Studio Code;Xcode,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,Not sure,True,NaN,Man,No,NaN,NaN,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
83397,83398,"I used to be a developer by profession, but no...",I prefer not to say,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,Other (please specify):,14,5,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;PHP;SQL,HTML/CSS;JavaScript;Node.js;PHP;Python,MySQL,Cassandra;Firebase,NaN,NaN,jQuery,Angular;Laravel;React.js;Vue.js,NaN,NaN,Git,NaN,Eclipse;NetBeans;Notepad++;Visual Studio Code,PHPStorm;Visual Studio Code,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, somewhat",False,35-44 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83406,83407,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",2,NaN,NaN,NaN,NaN,NaN,NaN,C;C++;Python,C;C#;C++;HTML/CSS;JavaScript;Python;Rust;SQL;T...,MySQL,MySQL;Oracle,NaN,NaN,NaN,NaN,NumPy,.NET Framework;Flutter;NumPy;React Native;Tens...,Git,Deno;Docker;Git,PyCharm;Visual Studio Code,NaN,Windows,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,"No, not really",True,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
83410,83411,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",1,NaN,NaN,NaN,NaN,NaN,NaN,C++;JavaScript;Python;TypeScript,C++;JavaScript;Python;TypeScript,MongoDB;PostgreSQL;SQLite,MongoDB;PostgreSQL;SQLite,Heroku,Heroku,Express;React.js,Express;React.js,Keras;NumPy;TensorFlow,Keras;NumPy;TensorFlow,Docker;Git;Unreal Engine,Docker;Git;Unreal Engine,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,IPython/Jupyter;PyCharm;Vim;Visual Studio;Visu...,Windows,Google it;Panic,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",False,18-24 years old,Man,No,Straight / Heterosexual,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83417,83418,I am a developer by profession,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Friend or family member;Online Courses ...,3,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;C;C++;Java;SQL,Bash/Shell;C++;SQL,PostgreSQL;SQLite,PostgreSQL,AWS,Google Cloud Platform;Microsoft Azure,Spring,jQuery;Spring,NaN,NaN,Docker;Git,Docker;Git,IntelliJ;Vim;Visual Studio Code,IntelliJ;Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",True,18-24 years old,Man,No,NaN,South Asian,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN

In [ ]:
country_grp['NEWOtherComms'].value_counts().loc['India']

NEWOtherComms
False    6865
True     3532
Name: NEWOtherComms, dtype: int64

In [ ]:
country_grp['SalaryUSD'].median().loc['India']

14748.0

In [ ]:
country_grp['SalaryUSD'].agg(['median', 'mean']).loc['Canada']

median     75631.000000
mean      135732.563006
Name: Canada, dtype: float64

In [ ]:
country_uses_python= country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [ ]:
country_respondents = df['Country'].value_counts()
country_respondents

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Liechtenstein                                               1
Papua New Guinea                                            1
Dominica                                                    1
Saint Kitts and Nevis                                       1
Saint Vincent and the Grenadines                            1
Name: Country, Length: 181, dtype: int64

In [ ]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)
python_df

,Country,LanguageHaveWorkedWith
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Liechtenstein,1,1
Papua New Guinea,1,0
Dominica,1,1
Saint Kitts and Nevis,1,0
Saint Vincent and the Grenadines,1,0

In [ ]:
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageHaveWorkedWith': 'NumKnowsPython'}, inplace=True)
python_df

,NumRespondents,NumKnowsPython
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Liechtenstein,1,1
Papua New Guinea,1,0
Dominica,1,1
Saint Kitts and Nevis,1,0
Saint Vincent and the Grenadines,1,0

In [ ]:
python_df['PctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents']) * 100
python_df

,NumRespondents,NumKnowsPython,PctKnowsPython
United States of America,15288,7975,52.165097
India,10511,5233,49.785939
Germany,5625,2713,48.231111
United Kingdom of Great Britain and Northern Ireland,4475,2149,48.022346
Canada,3012,1593,52.888446
...,...,...,...
Liechtenstein,1,1,100.000000
Papua New Guinea,1,0,0.000000
Dominica,1,1,100.000000
Saint Kitts and Nevis,1,0,0.000000
Saint Vincent and the Grenadines,1,0,0.000000

In [ ]:
df['YearsCode'].head(10)

65399     7
22666     5
27198     3
31086    16
44640     7
11377     8
17486     7
51428     7
14882     8
17120     3
Name: YearsCode, dtype: object

In [ ]:
df['YearsCode'].unique()

array(['7', '5', '3', '16', '8', 'Less than 1 year', '6', '4', nan, '2',
       '10', '9', '11', 'More than 50 years', '32', '1', '20', '23', '12',
       '13', '25', '30', '15', '18', '46', '14', '17', '37', '28', '40',
       '35', '26', '38', '19', '22', '21', '33', '31', '36', '24', '34',
       '27', '41', '43', '50', '29', '45', '42', '48', '39', '47', '49',
       '44'], dtype=object)

In [ ]:
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df['YearsCode'].replace('More than 50 years', 51, inplace=True)
df['YearsCode'].unique()

array(['7', '5', '3', '16', '8', 0, '6', '4', nan, '2', '10', '9', '11',
       51, '32', '1', '20', '23', '12', '13', '25', '30', '15', '18',
       '46', '14', '17', '37', '28', '40', '35', '26', '38', '19', '22',
       '21', '33', '31', '36', '24', '34', '27', '41', '43', '50', '29',
       '45', '42', '48', '39', '47', '49', '44'], dtype=object)